@model Category

@{
    ViewData["Title"] = "Create";
}
<section class="min-h-screen dark:bg-gray-900 mt-6">
    <div class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
        <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Create Book</h2>

        <form method="post">
            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 mb-4">
                <div>
                    <label asp-for="DisplayOrder" class="text-gray-700 dark:text-gray-200" for="DO">Display Order</label>
                    <input asp-for="DisplayOrder" id="OD" type="number" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <span class="text-red-500" asp-validation-for="DisplayOrder"></span>
                </div>
                <div>
                    <label asp-for="Name" class="text-gray-700 dark:text-gray-200" for="name">Book Name</label>
                    <input asp-for="Name" id="name" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <span class="text-red-500" asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="flex mt-6 justify-between">
                <a asp-area="" asp-controller="Category" asp-action="Index" class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Back To List</a>
                <button type="submit" class="px-8 py-2.5 leading-5 text-white transition-colors duration-500 transform bg-yellow-600 hover:bg-yellow-500 rounded-md focus:outline-none focus:bg-yellow-600">Save</button>
            </div>
            
            @* <div class="pt-6" asp-validation-summary="All"></div> *@
        </form>
    </div>
</section>


@* Local Validation *@

@* @section Scripts *@
@* { *@
@*     @{ *@
@*         <partial name="_ValidationScriptsPartial" /> *@
@*     } *@
@* } *@
